// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin slider-container {
  vertical-align: middle;
}

.priority-slider-container {
  width: 150px;
}

.hours-slider-container {
  width: 180px;
}

.table-row {
  display: inline-block;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 100%
}

.slider {  
  display: inline-block;
  width: 50%;
  margin-left:10px;
}

@mixin slider_field {
  display: inline-block;
}

.priority_field {
  @include slider_field;
  width: 20px;
}

.hours_field {
  @include slider_field;
  width: 48px;
}

.edit-container {
  display: none;
}

.spinner {
  margin-left: 12px;
  margin-top: 8px;
}

select {
 width: 100%;
}