.task-row.even {
}

.task-row.odd {
  background-color: #cdeff4;
}

.task-row:hover
{
  background-color: #bde8bd;
  cursor: pointer;
}

.priority_field {
  width: 20px;
}

.hours_field {
  width: 48px;
}

.edit-container {
  display: none;
}

.spinner {
  margin-left: 12px;
  margin-top: 8px;
}

select {
 width: 100%;
}

.hidden {
  display: none;
}